.myImage {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.show-info {
    display: inline-block;
    position: relative;
}

.none {
    display: none;
}

.your>.show-info:hover .none {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 3;
    right: 30px;
    border: 1px solid black;
    background-color: #000000;
    color: #eae9ea;
    padding: 5px;
    border-radius: 10px;
}

.other>.show-info:hover .none {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 3;
    left: 28px;
    border: 1px solid black;
    background-color: #000000;
    color: #eae9ea;
    padding: 5px;
    border-radius: 10px;
}

.message span {
    display: inline-block;
    max-width: 50%;
    padding: 10px;
    border: 1px solid #4481fe;
    border-radius: 5px;
    color: #4481fe;
    word-break: break-word;
}

.list-message {
    padding: 10px;
    height: calc(100% - 57px);
    overflow-y: scroll;
    width: 100%;
}

.chat-container {
    width: 30%;
    padding: 10px;
    height: calc(100vh - 100px);
    display: flex;
}

.current-conversation {
    width: 100%;
}

.form-add-message {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.list-message>* {
    margin-bottom: 10px;
}

.your {
    text-align: right;
}

.setting {
    display: flex;
    justify-content: flex-end;
}

.user {
    display: flex;
}

.fa-cog {
    font-size: 20px;
}

.list-conversation {
    min-height: 100px;
    max-height: 60%;
    overflow-y: scroll;
}

.conversation-title {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversation:hover {
    cursor: pointer;
}

.conversation.current {
    background-color: gainsboro;
}

.conversation-member {
    font-size: 12;
    text-align: right;
    font-style: italic;
}

.conversation-member-right {
    font-size: 12;
    text-align: right;
    font-style: italic;
    display: block;
}

.list-conversation>* {
    margin-bottom: 10px;
}

.form-add-conversation>* {
    margin-bottom: 10px;
}

.current-conversation {
    width: 100%;
    height: 100%;
}